name: Nick Pachulski
description: Uses tools to make more, hopefully-just-as-good tools.
meta_description: ""

aboutPage: true

markdown: redcarpet
highlighter: pygments

paginate: 20
baseurl: /
domain_name: 'pachulski.me'
google_analytics: 'UA-XXXXXXXX-X'

# Details for the RSS feed generator
url:            'http://pachulski.me'
author:         'Nick Pachulski'
authorTwitter:  'nickpachulski'
authorGithub:   'pachun'

permalink:       /:year/:title/

defaults:
    -
        scope:
            path: "" # empty string for all files
            type: pages
        values:
            layout: default
    -
        scope:
            path: "" # empty string for all files
            type: posts
        values:
            layout: post
